<!DOCTYPE html>
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% block styles %}{% endblock styles %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'product_list' %}">Shop</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'contact' %}">Contact Us</a></li>
                <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
                <li><a href="{% url 'jobs' %}">Work for Us</a></li>
                <li>
                    <a href="{% url 'shopping_cart' %}">Shopping Cart</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
    {% block scripts %}{% endblock scripts %}
</body>
</html>